.Record {
    width: 250px;
    height: 250px;
    margin: 14px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Record div {
    border: 1px solid black;
    padding: 1px;
}

.CoverArt__image {
    width: 100px;
    height: 100px;
    flex: 1;
    align-content: center;
}

.CoverArt {
    flex: 2;
    background-color: rgb(53, 47, 47);
}

.Details {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.AlbumTitle {
    flex: 1;
}

.ArtistName {
    flex: 1;
}

.AlbumYear {
    flex: 1;
}

.AlbumGenre {
    flex: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
